body {
    font-family: "JetBrains Mono", monospace;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../res/background_arcane.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.link-box {
    width: 548px; /* for every new image in a row add 68px */
    text-align: center;
    background-color: rgba(82, 89, 100, 0.8);
    padding: 15px 10px 10px 10px;
    margin: auto;
    border-radius: 10px;
}

.link-img {
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: 300ms;
}

.link-img:hover {
    transform: scale(1.5);
}

.about {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 110px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(82, 89, 100, 0.8);
}

@media screen and (max-width: 500px){
    .link-box {
        width: 90%;
    }
}