body {
    font-family: "JetBrains Mono", monospace;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url("../res/background_arcane.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.link-box {
    max-width: 38%;
    text-align: center;
    background-color: rgba(82, 89, 100, 0.8);
    padding: 15px 10px 10px 10px;
    margin: auto;
    border-radius: 10px;
}

.link-img {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.about {
    position: absolute;
    bottom: 10px;
    width: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgba(82, 89, 100, 0.8);
}